.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.mainBody,.foot{
  background-color: rgb(252, 244, 225);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  margin-top: 1rem;
  width: 18rem;
  max-height: 360px;
}

.card-select{
  background-color: aquamarine;
  height: 100%;
  border-radius: 10px;
  margin: 5px;
}

Footer{
  background-color: lime;
  
}

.search{
  margin: 10px;
}
.container{
  color: aliceblue ;
}

.navbar-logo {
  width: 6rem; 
  height: auto; 

}
.nav1{
  background-color: rgb(255, 85, 85);
}

.sidebar {
  display: flex;
  
}

.sidebar-content {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 1rem;
  
}
.loginPage,.signupPage {
  
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh;
  background-size: cover;
  background-position: center;

}
.loginPage{
  background-image: url("../public/login.jpg");
}
.signupPage{
  background-image: url("../public/signup.jpeg");
}

.inside {
  background-color: rgba(255, 255, 255, 0.9); /* White with 80% opacity */
  padding: 10px; /* Adjust padding as needed */
  border-radius: 10px; /* Optional: Rounded corners */
}